body{
    margin:0;
}

.header-login{
    display: flex;
    justify-content: right;
    background-color: rgba(76, 101, 165, 255);
    width:100%;
    height: 100px;
}

.email-login{
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}

.pass-login{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.login-btn{

    margin-top: 27px;
    margin-left: 5px;
    min-width: 60px;
}

.form{
    display: flex;
    margin-right: 50px;
}

#sub{
    background-color: rgb(57, 84, 171);
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    height: 23px;
    
}


